.createDiv {
  display: flex;
  flex-direction: column;
}

.create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 110px;
}

.create .input {
  padding: 13px;
  font-size: 15px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s ease-in-out;
} 

.input:focus {
  border-color: #265185;
}

.button {
  padding: 13px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: #326cb3;
  color: #fff;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.button:hover {
  background-color: #265185;
}